@model IEnumerable<SeekAndFind.Models.RadnoIskustvo>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Kompanija)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatumPocetka)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatumKraja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zanimanje)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Kompanija)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatumPocetka)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatumKraja)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zanimanje.ZanimanjeId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RadnoIskustvoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RadnoIskustvoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RadnoIskustvoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
