@model IEnumerable<SeekAndFind.Models.JeziciAplikanta>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NivoCitanja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NivoPisanja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aplikant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jezik)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NivoCitanja)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NivoPisanja)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Jezik.JezikId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.JeziciAplikantaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.JeziciAplikantaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.JeziciAplikantaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
